<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wingsmight.audiorecorder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioRecorder.NoActionBar">
        <activity
            android:name=".ui.settings.DoNotDisturbIntervalActivity"
            android:label="@string/title_activity_do_not_disturb_interval"
            android:theme="@style/Theme.AudioRecorder.NoActionBar" />
        <activity
            android:name=".ui.settings.AppInfoActivity"
            android:label="@string/title_activity_app_info"
            android:theme="@style/Theme.AudioRecorder" />
        <activity
            android:name=".ui.settings.CloudPlan.CloudPlanActivity"
            android:label="@string/title_activity_cloud_plan"
            android:theme="@style/Theme.AudioRecorder" />
        <activity
            android:name=".ui.login.LogInActivity"
            android:label="Вход"
            android:theme="@style/Theme.AudioRecorder" />
        <activity
            android:name=".ui.login.SignUpActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>